
.home{
    background-image: url('../../../public/images/Home//home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .container{
    display: inherit;
    justify-content: inherit;
    align-items: center;
    text-align: center;

}
.home .content{
  
}

.home .content h2
{font-size: 30px;
 text-transform: uppercase;
 color: #333
}
.home .content span
{color: #1dc797;
font-weight: bold;}
.home .content p{
    color: #1dc797;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 20px;
    margin: 5px auto;
    line-height: 1.5;
    max-width: 80%;
    }
.home .content button{
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #1dc797;
    border: none;
    cursor: pointer;
    color:#333
}






















